
/*basic setup*/
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html{
	font-family: 'lato','Arial';
	font-weight: 400;
	color: black;
	font-size: 20px;
	overflow-x: hidden;
}
body{
	overflow-x: hidden;
}
/*reusable components*/
.row{
	max-width: 1200px;
	margin: 0 auto;
}
section{
	padding: 80px 0px;
}
h1,h2{
	
	font-weight: 300;
	text-transform: uppercase;
	word-spacing: 2px;	
}
h1{
	margin: 0px;
	color: #ffffff;
	font-size: 40px;
	letter-spacing: 1px;
	padding-bottom: 20px;
}
h2{
	font-size: 30px;
	text-align: center;
	word-spacing: 2px;
	padding-bottom: 20px;
}
h2:after{
	display: block;
	height: 2px;
	background-color:#cc6600;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
h3{
	font-size: 25px;
	margin-bottom: 15px;
	font-weight: 300;
}

/*button*/
.btn:link,.btn:visited,input[type=submit]{
	display: inline:block;
	padding: 10px 30px;
	font-weight: 500;
	text-decoration: none;
	border-radius: 100px;
	color: #ffffff;
}
.btn-full:link,.btn-full:visited,input[type=submit]{
	background-color: #cc6600;
	border: 1px solid #cc6600;
}
.btn-ghost:link,.btn-ghost:visited{
	border: 1px solid #cc6600;
	background-color: none;
}
.btn-full:hover,.btn-full:active,input[type=submit]:hover{
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #ffffff;
}
.btn-ghost:hover,.btn-ghost:active{
	background-color: #0E54F5;
	color: #000000;
	border: 1px solid #ffffff;
}
/*header*/
header{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.hero-text-box{
	position: absolute;
	width: 1200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}
.main-nav{
	float: right;
	list-style: none;
	margin-top: 60px;
}
/*mobile navigation*/
.mobile-nav-icon{
	margin-top: 30px;
	float: right;
	cursor: pointer;
	display: none;
}
.mobile-nav-icon ion-icon{
	font-size: 200%;
	color: #ffffff;
}
.main-nav li{
	display: inline-block;
	padding-left: 20px;
}
.main-nav li a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	padding:8px 0px; 
}
.main-nav li a:hover{
	border-bottom:2px solid #cc6600;
}
.long-copy{
	line-height: 140%;
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
.box{
	padding: 1%;
}
.box p{
	line-height: 140%;
}
.icon-big{
	font-size: 350%;
	color: #cc6600;
	margin-bottom: 15px; 
}
/*meals*/
.meals-showcase{
	list-style: none;
	width: 100%;
}
.meals-showcase li{
	display: block;
	width: 25%;
	float: left;
}
.meal-photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000000;
}
.meal-photo img{
	width: 100%;
	height: auto;
	transform: scale(1.15);
	opacity: 0.7;
	transition: transform 0.5s,opacity 0.5s; 
}
.section-meals{
	padding: 0px;
}
.meal-photo img:hover{
	transform: scale(1.03);
	opacity: 1;

}
/*How it work*/

.steps-box:first-child{
	text-align:right;
	padding-right: 3%;
	margin-top: 30px;
}
.steps-box:last-child{
	padding-left: 3%;
	margin-top: 70px;
}
.app-screen{
	width: 40%;
}
.works-step{
	margin-bottom: 50px;
}
.works-step div{
	color:  #cc6600;
	border: 2px solid #cc6600;
	display: inline-block;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	text-align: center;
	padding: 5px;
	font-size: 30px;
	float: left;
	margin-right: 20px;
}
.btn-app img{
	height: 50px;
	width: auto;
	margin-right: 10px;
}
.works-step:last-of-type{
	margin-bottom: 80px;
}
.clearfix{
	zoom:1
}
.clearfix:after{
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.section-steps{
		background-color: #DCDCDC;
}
.box img{
	height: auto;
	width: 100%;
	margin-bottom: 15px;
}
.city-feature{
	margin-bottom: 5px;
}
.icon-small{
	display: inline-block;
	width: 30px;
	text-align: center;
	color: #cc6600;
	margin-right: 10px;
}
.city-feature a{
	color: #cc6600;
	text-decoration: none;
}
.city-feature a:hover{
	color: #000000;
}
/*testimonials*/
.section-testimonials{
		background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(img/back-customers.jpg);
		background-size: cover;
		color: #ffffff;
		background-attachment: fixed;
}
blockquote{
	padding: 2%;
	font-style: italic;
	line-height: 140%;
	position: relative;
	margin-top: 40px;
}
cite{
	font-size: 20px;
	margin-top: 25px;
	display: block;
}
cite img{
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}
blockquote:before{
	content: "\201C";
	font-size: 400%;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
}
/*plans*/
.section-plans{
background-color: #DCDCDC;	
}
.plan-box{
	background-color: #ffffff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
}
.plan-box div{
	padding: 15px;
	border-bottom: 1px solid 	#808080;
}
.plan-price{
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 300;
	color: #cc6600;
}
.plan-price-meals{
	font-size: 80%;
}
.plan-price span{
	font-size: 30%;
	font-weight: 300;
}
.plan-box ul{
	list-style: none;
}
.plan-box ul li{
	padding: 5px 0;
}
.plan-box div:last-child{
	text-align: center;
	border: 0;
	background-color :#C0C0C0;
}
.plan-box div:first-child{
	background-color :#C0C0C0;
}
.contact-form{
	width: 60%;
	margin: 0 auto;
}
input[type=text],input[type=email],select,textarea{
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #C0C0C0;
}
textarea{
	height: 100px;
}
input[type=checkbox]{
	margin: 10px 5px 10px 0
}
/*footer*/
footer{
	background-color:#585858;
}
.footer-nav{
	list-style: none;
	float: left;
}
.footer-nav li,.social-links li{
	display: inline-block;
	margin-right: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer-nav li a:link{
	color: #C0C0C0;
	text-decoration: none;
}
.footer-nav li a:visited{
	color: #C0C0C0;
	text-decoration: none;
}
.footer-nav:lastchild,.social-links:lastchild{
	margin-right: 0px;
}
.social-links{
	list-style: none;
	float: right;
}
.social-links li a:link{
	color: #C0C0C0;
	text-decoration: none;
	border: 0;
}
.social-links li a:visited{
	color: #C0C0C0;
	text-decoration: none;
	border: 0;
}
.footer-nav li a:hover{
	color: #ffffff;
}
.social-links li a:hover{
	color: #ffffff;
}
footer p{
	text-align: center;
	color: #C0C0C0;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 10px;
}